<div class="footer">
    <hr>
    <p class="fadedText footer-text">© 2015-2016 Lars Liverød Andersen, All rights reserved</p>
    <a href="https://www.facebook.com/profile.php?id=1104912350" target="_blank"><img class="socialIcon" src="/icons/facebook.svg"></a>
    <a href="https://twitter.com/LarsLA_" target="_blank"><img class="socialIcon" src="/icons/twitter.svg"></a>
    <a href="http://instagram.com/lars.la" target="_blank"><img class="socialIcon" src="/icons/instagram.svg"></a>
    <a href="https://github.com/larsland" target="_blank"><img class="socialIcon" src="/icons/github.svg"></a>
    <a href="https://www.linkedin.com/profile/view?id=324148398&trk=nav_responsive_tab_profile_pic" target="_blank"><img class="socialIcon" src="/icons/linkedin.svg"></a>
</div>
