<header style="box-shadow: 0px 0px 3px 1px #888">
    <nav id="nav" class="navTop">
        <ul class="nav">
            <li><a id="nav1" class="navBtn" href="/">dashboard</a></li>
            <li><a id="nav2" class="navBtn" href="/news">news</a></li>
            <li><a id="nav4" class="navBtn" href="/about">about</a></li>
            <li><a id="nav3" class="navBtn" href="/cv">cv</a></li>
        </ul>
    </nav>
    <% if(user) { %>
    <a href="/logout"><img class="lock-btn" src="icons/unlocked.svg"></a>
    <% } else { %>
    <a href="/login"><img class="lock-btn" src="icons/lock.svg"></a>
    <% } %>
</header>
