<header style="box-shadow: 0px 0px 3px 1px #888">
    <nav id="nav" class="navTop">
        <ul class="nav">
            <li><a id="nav1" class="navBtn" href="/">home</a></li>
            <li><a id="nav2" class="navBtn" href="/news">news</a></li>
            <li><a id="nav3" class="navBtn" href="/cv">cv</a></li>
        </ul>
    </nav>

    <% if(user) { %>
    <a href="/logout"><div class="auth-container auth-container-logged-in"><img class="lock-btn" src="/icons/unlocked.svg"></a></div>
    <span class="header-user"><%= user.username %></span>
    <% } else { %>
    <a href="/login"><div class="auth-container"><img class="lock-btn" src="/icons/lock.svg"></a></div>
    <% } %>

</header>
