<div class="sidebar">
    <div id="borderTop" class="borderTop noSelect">
        <p class="centerText whiteText borderText">time / date</p>
    </div>
    <div id="box" class="box borderBox">
        <div class="innerBox">
             <p id="time" class="clock centerText fadedText"></p>
        </div>
        <div class="innerBox">
            <p id="weekday" class="clock centerText fadedText"></p>
            <p id="date" class="clock centerText fadedText"></p>
            <p id="week" class="clock centerText fadedText"></p>
        </div>
    </div>
</div>
