<div class="sidebar">
    <div id="borderTop1" class="borderTop noSelect">
        <p class="centerText whiteText borderText">calendar</p>
    </div>
    <div id="box1" class="box borderBox">
        <% if(user) { %>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=lars.la92%40gmail.com&amp;color=%2329527A&amp;ctz=Europe%2FOslo" style="border-width:0" width="100%" height="230" frameborder="0" scrolling="no"></iframe>
        <% } else { %>
        <p>SORRY</p>
        <% } %>
    </div>
</div>
