<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>

    <body>
    <% include partials/header %>
    <div class="about-container">
    	<img class="profile-picture" src="images/profilepic.jpg">
    	<div class="about-text box-shadow">
    		<h1>Hello world!</h1>
    		<p>I'm Lars. I study informatics at NTNU.</p>
    	</div>
    </div>
    <% include partials/footer %>
    </body>
</html>
