<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <script src="/javascripts/marked.js"></script>
    </head>
    <body>
        <div class="main-container center">
            <h1><%= article.title %></h1>
            <p name="article-content"><%= article.content %></p>
        </div>
        <script src="/javascripts/updateMarkdown.js"></script>
    </body>
</html>
