<link rel="stylesheet" href="/stylesheets/style.css">

<h1 class="centerText vertical-space-top-huge"><%= error.status %> <%= message %></h1>
<% if(error.stack != undefined) { %>
<pre><%= error.stack %></pre>
<% } %>
