<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <% include partials/header %>
        <div class="main-container center">
            <div class="about-container">
                <div class="profile-picture-container">
                    <img class="profile-picture" src="images/profilepic.jpg">
                </div>
                <div class="about-text-container">
                    <div class="about-text box-shadow border-box">
                		<h1>Hello world!</h1>
                		<p>I'm Lars. I study informatics at the Norwegian University of Science and Technology. The purpose of this site is simply for me to practice webtechnologies, amd post interesting things I come over, or cool stuff that happens.</p>
                        <a href="https://github.com/larsland" target="_blank"><img class="socialIcon" src="/icons/github.svg"></a>
                        <a href="https://www.linkedin.com/profile/view?id=324148398&trk=nav_responsive_tab_profile_pic" target="_blank"><img class="socialIcon" src="/icons/linkedin.svg"></a>
                        <a href="https://twitter.com/LarsLA_" target="_blank"><img class="socialIcon" src="/icons/twitter.svg"></a>
                	</div>
                </div>
            </div>
        </div>
        <div class="blue-row">
            <div class="row-container center">
                <div class="box-50 inline centerText">
                    <p class="clock" id="time"></p>
                    <p class="clock" id="weekday"></p>
                    <p class="clock" id="date"></p>
                    <p class="clock" id="week"></p>
                </div>
                <div class="box-50 right centerText">
                    <div class="box-70 left">
                        <p class="clock" id="name"></p>
                        <p class="clock" id="temperature"></p>
                        <p class="clock" id="condition"></p>
                        <img class="weather-icon" id="weather-icon">
                    </div>
                    <div class="box-30 inline">
                        <img class="arrow-right" onclick="changeWeather()" src="/icons/rightArrow.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-container center">
            <div class="row-title">Latest articles</div>
            <div class="articles-container article-titles-container left">
            <% for(var i = 0; i < articles.length; i++) { %>
                <a class="hide"><%= articles[i]._id %></a>
                <div style="width: 100%" name="article-titles" id="articleTitle" class="article box-shadow border-box pointer">
                    <h3 class="article-title"><%= articles[i].title %></h3>
                    <p name="article-ingress"><%= articles[i].ingress %></p>
                </div>
            <% } %>
            </div>
            <div class="box-40 inline">
                <img class="newsIcon right" src="/images/newsIconReverted.png">
            </div>
        </div>

        <% include partials/footer %>
        <script src="/javascripts/clock.js"></script>
        <script src="/javascripts/weather.js"></script>
        <script src="/javascripts/highlightNav.js"></script>
        <script src="/javascripts/addArticleLinks.js"></script>
        <script src="/javascripts/phoneMenu.js"></script>
    </body>
</html>
