<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <script src='/javascripts/loadArticles.js'></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <% include partials/header %>
        <div class="main-container center">
            <div class="row">
                <div class="news-wrapper">
                    <div>
                        <% if(user) { %>
                        <div class="post-btn-container borderBox box-shadow pointer center noSelect" id="post-btn">
                            <img class="post-btn-image noSelect" src="icons/pencil2.svg">
                        </div>
                        <% } else {%>
                        <% } %>
                    </div>
                    <div class="submit-container" id="submit-container">
                        <form action="/api/articles" method="POST" target="dummyframe">
                            <p>Title:</p>
                            <input id="titleField" class="input-title center" type="text" name="title"></input><br>
                            <p>Content:</p>
                            <textarea id="contentField" rows=15 class="input-text center" name="content"></textarea><br>
                            <input id="submit-btn" type="submit" value="Post" class="input-btn right pointer">
                            <iframe style="display:none" width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                        </form>
                    </div>
                    <div id="articlesContainer" class="articles-container"></div>
                </div>
            </div>
        </div>
        <% include partials/footer %>
        <% if(user) { %>
        <script src="/javascripts/post-btn.js"></script>
        <% } else {}%>
        <script src="/javascripts/marked.js"></script>
        <script src="/javascripts/highlightNav.js"></script>
        <script src="/javascripts/postValidator.js"></script>
    </body>
</html>
