<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="/javascripts/marked.js"></script>
    </head>
    <body>
        <% include partials/header %>
        <div class="main-container center">
            <div class="row">
                <div class="news-wrapper">
                    <div>
                        <% if(user) { %>
                        <div class="post-btn-container borderBox box-shadow pointer center noSelect" id="post-btn">
                            <img class="post-btn-image noSelect" src="icons/pencil2.svg">
                        </div>
                        <% } else {%>
                        <% } %>
                    </div>
                    <div class="submit-container" id="submit-container">
                        <form action="/api/articles" method="POST" target="dummyframe">
                            <p>Title:</p>
                            <input id="titleField" class="input-title center" type="text" name="title"></input><br>
                            <p>Content:</p>
                            <textarea id="contentField" rows=15 class="input-text center" name="content"></textarea><br>
                            <input id="submit-btn" type="submit" value="Post" class="input-btn right pointer">
                            <iframe style="display:none" width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                        </form>
                    </div>
                    <div class="articles-container">
                    <% for(var i = 0; i < articles.length; i++) { %>
                        <div class="article box-shadow border-box">
                            <% if(user) { %>
                            <a id="removeArticle" class="right space-left" href="">
                                <input type="hidden" value="<%= articles[i]._id %>">
                                delete
                            </a>
                            <!--<a id="editArticle" class="right" href="">edit</a>-->
                            <% } %>
                            <h3><%= articles[i].title %></h3>
                            <div class="horizontal-line"></div>
                            <p name="article-content"><%= articles[i].content %></p>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer %>
        <script src="/javascripts/highlightNav.js"></script>
        <script src="/javascripts/postValidator.js"></script>
        <% if(user) { %>
        <script src="/javascripts/privateListeners.js"></script>
        <% } %>
        <script src="/javascripts/updateMarkdown.js"></script>
    </body>
</html>
