<% layout("layout") -%>

<section>

    <div class="main-container center">
        <div class="login-container box-shadow center">
            <h2 class="centerText">Register:</h2>
            <form action="/registerAdmin" method="post">
                <p>Name:</p>
                <input class="login-field center" type="text" name="name">
                <p>Surname:</p>
                <input class="login-field center" type="text" name="surname">
                <p>Username:</p>
                <input class="login-field center" type="text" name="username">
                <p>Password:</p>
                <input class="login-field center" type="password" name="password">
                <p>AdminKey:</p>
                <input class="login-field center" type="password" name="adminKey">
                <input class="login-btn center pointer" type="submit" value="OK">
            </form>
        </div>
    </div>

</section>
