@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* Table of contents
 * 1.0 - Base
 - * 1.1 - Header
 	- * 1.1.1 - Nav
 - * 1.2 - Footer
 * 2.0 - General
 * 3.0 - Home
 - * 3.1 - About
 - * 3.2 - Blue bar
 - * 3.3 - Latest articles
 * 4.0 - News
 * 5.0 - Login
 * 6.0 - Media queries
*/

/*------------------------------------1.0 - Base------------------------------------*/

body {
  font-family: 'Open Sans Condensed', monospace;
  font-weight: 300;
  background-color: #EEE;
  margin: 0px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

/*------------------------------------1.1 - Header------------------------------------*/

header {
    overflow: hidden;
    width: 100%;
    background-color: #336699;
    margin-bottom: 5%;
    position: fixed;
    z-index: 9999;
}

.lock-btn {
    padding-top: 9px;
    width:100%;
}

.auth-container {
    float: right;
    width: 30px;
    display: block;
    border-top: 4px solid #7094B8;;
    padding-left: 11px;
    margin-right: 10px;
    height: 50px;
}
.auth-container-logged-in {
    border-top: 4px solid white;
}
.auth-container:hover {
    background-color: #7094B8;
    border-top: 4px solid white;
    transition: background-color 0.5s ease, border-top 0.5s ease;
}
.header-user {
    color: white;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

/*------------------------------------1.1.1 - Nav------------------------------------*/

ul.nav {
    list-style: none;
    margin: 0 auto;
    width: 400px;
    padding: 0;
}
ul.nav li {
    float: left;
}
.navTop {
    float: left;
    margin-left: 5%;
    width: 400px;
    overflow: hidden;
}
.navBtn {
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-top: 4px solid #7094B8;
    font-size: 15px;
}
.navBtn:hover {
    background-color: #7094B8;
    border-top: 4px solid white;
    transition: background-color 0.5s ease, border-top 0.5s ease;
}

.navBtnCurrent {
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-top: 4px solid white;
    font-size: 15px;
}

/*---- FOR MOBILE -----*/
.menu-btn {
    display: none;

}
.menu-btn-icon {
    width: 60px;
    margin-top: 18px;
    margin-left: 20px;
}

/*------------------------------------1.1.2 - Phone Menu------------------------------------*/
.menu-tab {
    width: 100%;
    float: left;
    background-color: #336699;
    position: fixed;
    margin-top: 100px;
    z-index: 10;
    height:0px;
    transition-property: height;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.menu-tab-btn {
    width: 100%;
    height: 100px;
    display: none;
}
.menu-tab-link {
    color: white;
    display: block;
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
}

/*------------------------------------1.2 - Footer------------------------------------*/

.footer {
    text-align: center;
    width: 100%;
    height: 300px;
    padding-top: 150px;
    display: inline-block;
}
.footer hr {
    width: 300px;
    height: 1px;
    opacity: 0.6;
}
.socialIcon {
    opacity: 0.6;
}
.socialIcon:hover {
    opacity: 1;
}

/*------------------------------------2.0 - General------------------------------------*/

.box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.right {
    float: right;
}
.left {
    float: left;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.space {
    height: 30px;
    display: block;
    width: 40%;
    float: right;
}
.whiteText {
    color: white;
}
.centerText {
    text-align: center;
}
.hide {
    display: none;
}
.show-content {
    display: inline;
}
.pointer {
    cursor: pointer;
}
.center {
    margin: auto;
}
.main-container {
    width: 80%;
    padding-top: 130px;
}
.box-10 {
    width: 10%;
}
.box-20 {
    width: 20%;
}
.box-30 {
    width: 30%;
}
.box-40 {
    width: 40%;
}
.box-50 {
    width: 50%;
}
.box-60 {
    width: 60%;
}
.box-70 {
    width: 70%;
}
.box-80 {
    width: 80%;
}
.box-90 {
    width: 90%;
}
.white-space {
    padding: 40px;
}
.fadedText {
    opacity: 0.6;
}
.row-container {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.inline {
    display: inline-block;
}
.space-left {
    margin-left: 10px;
}
.message-box {
    height: 100px;
    width: 30%;
    color: white;
    text-align: center;
    padding: 30px;
}
.warning {
    background-color: #ff4d4d;
}

/*------------------------------------3.0 - Home------------------------------------*/

/*------------------------------------3.1 - About------------------------------------*/
.profile-picture-container {
    width: 20%;
    float: left;
}
.profile-picture {
    border-radius: 150px;
    width: 80%;
    display: block;
    border: 5px solid white;
}
.about-text-container {
    width: 80%;
    display: inline-block;
}
.about-text {
    background-color: white;
    padding: 10px;
    right: 0px;
    font-size: 20px;
}
.about-container {
    height: 100px;
    margin: 0 auto;
    margin-bottom: 250px;
}

/*------------------------------------3.2 - Blue bar------------------------------------*/

.clock {
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.blue-row {
    background-color: #7094B8;
    color: white;
    margin-top: 180px;
    margin-bottom: 50px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.weather-icon {
    width: 50px;
    border: 1px solid white;
    border-radius: 150px;
    display: inline-block;
}

.arrow-right {
    margin-top: 45px;
}
.arrow-right:hover {
    cursor: pointer;
    opacity: 0.7;
}

/*------------------------------------3.3 - Latest articles------------------------------------*/

.newsIcon {
    width: 60%;
}

.row-title {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*------------------------------------4.0 - News------------------------------------*/

.article {
    width: 100%;
    background-color: white;
    padding: 2px;
    padding-left: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
}
.articles-container {
    width: 100%;
}
.news-wrapper {
    width: 100%;
    float: left;
}
.horizontal-line {
    border-bottom: 1px solid black;
    opacity: 0.2;
    margin: 0 auto;
    padding: 0;
}
.post-article {
    padding: 2px;
}
.input-title {
    width: 100%;
    height: 30px;
    display: block;
    border: 1px solid #888;
    padding: 5px;
}
.input-text {
    border: 1px solid #888;
    width: 100%;
    display: block;
    resize: none;
}
.input-btn {
    display: block;
    width: 70px;
    height: 30px;
    background-color: white;
    border: 1px solid #888;
}
.input-btn:hover {
    background-color: #999;
}
.submit-container {
    margin-bottom: 70px;
    display: none;
}
.post-btn-image {
    margin: 0 auto;
    display: block;
    padding-top: 16px;
    width: 50%;
}
.post-btn-container {
    border-radius: 150px;
    width: 70px;
    height: 70px;
    background-color: white;
    margin-bottom: 30px;
    position: fixed;
    right: 20px;
    top: 90px;
}
.post-btn-container:hover {
    border: 1px solid #7094B8;
}
.post-btn-container:active {
    box-shadow: none;
}
.display-article {
    width: 80%;
    padding: 30px;
}
.article-titles-container {
    width: 60%;
}
.date-field {
    color: gray;
    font-style: italic;
}
#edit-article-form {
    display: none
}

/*-----------------------------4.1 - Display Single Article--------------------------*/
.ingress-text {
    font-size: 20px;
    opacity: 0.8;
}



/*------------------------------------5.0 - Login------------------------------------*/

.login-field {
    width: 100%;
    height: 30px;
    display: block;
    border: 1px solid black;
}
.login-container {
    width: 30%;
    background-color: white;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
}
.login-btn {
    border-radius: 0px;
    background-color: #d9d9d9;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
.login-btn:hover {
    background-color: #999;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*------------------------------------6.0 - Media queries------------------------------------*/

@media only screen and (orientation: portrait) and (max-device-width: 376px) and (min-width: 300px) {
	.newsIcon {
        display: none;
    }
    .article-titles-container {
        width: 100%;
        font-size: 30px;
    }
    .about-text {
        width: 100%;
        font-size: 50px;
        text-align: center;
    }
    .profile-picture-container {
        float: none;
        margin: auto;
        width: 100%;
    }
    .profile-picture {
        margin: auto;
        margin-bottom: -80px;
        width: 350px;
        border-radius: 400px;
        border: 30px solid white;
    }
    .about-text-container {
        display: block;
        width: 100%;
    }
    .about-container {
        margin-bottom: 1100px;
    }
    .clock {
        font-size: 55px;
    }
    .arrow-right {
        display: none;
    }
    .blue-row {
        height: 370px;
    }
    .weather-icon {
        display: none;
    }
    header {
        height: 100px;
    }
    .socialIcon {
        width: 80px;
    }
    .row-title {
        text-align: center;
        font-size: 70px;
    }
    .footer-text {
        font-size: 35px;
    }
    .article h3 {
        font-size: 40px;
    }
    .article p {
        font-size: 28px;
    }
    .post-btn-container {
        top: 150px;
    }

    /*----- Header -------*/
    .auth-container {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    ul.nav {
        display: none;
    }
    #view-article-container {
        width: 80%;
    }
    .hljs {
        font-size: 20px;
    }

}

/*-------Place media queries for tablets here---------
@media only screen and (orientation: landscape) and (max-device-width: 1025px) and (min-width: 1000px) {}
*/
